

:root {
  --white-color: hsl(233, 65%, 39%);
  --black-color: hsl(227, 91%, 25%);

  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-size: cover;
  background-repeat: no-repeat;
  
}

form
{
    border: 1px solid black;

    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
}
button
{
  
    align-items: center;
    background-color: #b2f9d1;
    border: 2px solid #111;
    border-radius: 20px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
body
{
  background: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.login {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
  }
  .login {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
  }
  
  .login__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
  }
  
  .login__form {
    position: relative;
    margin-inline: 1.5rem;
    background-color: hsla(0, 8%, 3%, 0.01);
    border: 2px solid hsla(0, 16%, 9%, 0.7);
    padding: 2.5rem 1rem;
    color: var(--black-color);
    border-radius: 1rem;
    backdrop-filter: blur(16px);
  }
  
  .login__title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.25rem;
  }
  
  .login__inputs, 
  .login__box {
    display: grid;
    max-width: fit-content;
  }
  
  .login__inputs {
    row-gap: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .login__box {
    grid-template-columns: 1fr max-content;
    column-gap: .75rem;
    align-items: center;
    border: 2px solid hsla(0, 13%, 6%, 0.7);
    padding-inline: 1.25rem;
    border-radius: 4rem;
    backdrop-filter: blur(16px);
    margin: auto;
  }
  
  .login__input, 
  .login__button {
    border: none;
    outline: none;
    margin-top: auto;
  }
  
  .login__input {
    width: 100%;
    background: none;
    color: var(--black-color);
    padding-block: 1rem;
  }
  
  .login__input::placeholder {
    color: var(--black-color);
  }
  
  .login__box i {
    font-size: 1.25rem;
  }
  
  .login__button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--blue-color);
    border-radius: 4rem;
    color: var(--green-color);
    font-weight: 400;
    cursor: pointer;
  }
  
  @media screen and (min-width: 200px) {
    .login {
      justify-content: center;
    }
    .login__form {
      width: 420px;
      padding-inline: 2.5rem;
    }
    .login__title {
      margin-bottom: 2rem;
    }
  }
  
  .avatar
  {
    grid-template-columns: 1fr max-content;
    column-gap: .75rem;
    align-items: center;
    border: 2px solid hsla(0, 13%, 6%, 0.7);
    padding-inline: 1.25rem;
    border-radius: 4rem;
    backdrop-filter: blur(16px);
    position: relative;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }


